<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span class="center_title"></span>
			<span [ngClass]="favorite_icon ? 'icon_box end active' : 'end icon_box'" (click)="toggleFavorite_icon()">

				<ion-icon class="zmdi zmdi-favorite-outline"></ion-icon>
				<ion-icon class="zmdi zmdi-favorite"></ion-icon>
			</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="bg_img">
	<div class="item_details">
		<div class="img_box center_img">
			<img src="assets/imgs/item_pizza1.png" class="crop_img">
		</div>
		<div class="text_box" text-center>
			<h2>{{Pizza?.PizzaName}}</h2>
			<p>
				{{Pizza?.Description}}
			</p>
		</div>

		<ion-row>
			<ion-col col-3>
				<h2>${{TotalPizzaPrice}}</h2>
			</ion-col>
			<ion-col col-6>
				<div class="add_remove_btn_box d-flex">
					<span class="text-center" (click)="RemovePizza()">-</span>
					<strong class="text-center">{{PizzaCount}}</strong>
					<span class="text-center" (click)="AddMorePizza()">+</span>
				</div>
			</ion-col>

			<ion-col col-3>
				<h3 class="d-flex">
					<img src="assets/imgs/veg_icon.png">
					Veg
				</h3>
			</ion-col>

		</ion-row>
	</div>

	<div class="tab_box">
		<ion-segment [(ngModel)]="tab">
			<ion-segment-button value="select_size">
				<h2>{{'select_size' | translate}} </h2>
				<p>{{SelectedSize}}</p>
			</ion-segment-button>
			<ion-segment-button value="select_crust">
				<h2>{{'select_crust' | translate}} </h2>
				<p>{{SelectedCrustShow}}</p>
			</ion-segment-button>
			<ion-segment-button value="select_topins">
				<h2>{{'select_topins' | translate}} </h2>
				<p>Tap to choose</p>
			</ion-segment-button>
		</ion-segment>


		<div class="tab_content" [ngSwitch]="tab">

			<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_size'">

				<ion-item class="shadow">
					<ion-radio checked={{SoloPizzaChecked}} value="1" item-start
						(click)="changePizzaPrie('Solo')"></ion-radio>
					<ion-label>
						<h2>Solo</h2>
						<p>${{Pizza?.SoloPrice}}</p>
					</ion-label>
				</ion-item>
				<ion-item class="shadow">
					<ion-radio value="2" checked={{SmallPizzaChecked}} item-start
						(click)="changePizzaPrie('Small')"></ion-radio>
					<ion-label>
						<h2>Small</h2>
						<p>${{Pizza?.SmallPrice}}</p>
					</ion-label>
				</ion-item>
				<ion-item class="shadow">
					<ion-radio checked={{MediumPizzaChecked}} value="3" item-start
						(click)="changePizzaPrie('Medium')"></ion-radio>
					<ion-label>
						<h2>Medium</h2>
						<p>${{Pizza?.MediumPrice}}</p>
					</ion-label>
				</ion-item>
				<ion-item class="shadow">
					<ion-radio checked={{LargePizzaChecked}} value="21324" item-start
						(click)="changePizzaPrie('Large')"></ion-radio>
					<ion-label>
						<h2>Large</h2>
						<p>${{Pizza?.LargePrice}}</p>
					</ion-label>
				</ion-item>
				<ion-item class="shadow">
					<ion-radio checked={{JumboPizzaChecked}} value="2342345" item-start
						(click)="changePizzaPrie('Jumbo')"></ion-radio>
					<ion-label>
						<h2>Jumbo</h2>
						<p>${{Pizza?.JumboPrice}}</p>
					</ion-label>
				</ion-item>


			</ion-scroll>


			<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_crust'">
				<ion-item class="shadow">
					<ion-radio checked={{RegularCrustSelectd}} value="1" item-start
						(click)="changePizzaCrust('Regualar')"></ion-radio>
					<ion-label>
						<h2>Regular Crust</h2>
						<p></p>
					</ion-label>
				</ion-item>
				<ion-item class="shadow">
					<ion-radio checked={{ThinCrustSelcted}} item-start
						(click)="changePizzaCrust('ThinCrust')"></ion-radio>
					<ion-label>
						<h2>Thin Crust</h2>
						<p></p>
					</ion-label>
				</ion-item>
				<ion-item class="shadow">
					<ion-radio checked={{GlutenFreeCrustSelected}} item-start
						(click)="changePizzaCrust('GlutenFreeCrust')"></ion-radio>
					<ion-label>
						<h2>Gluten Free Crust</h2>
						<p>$4.00</p>
					</ion-label>
				</ion-item>

				<ion-item class="shadow">
					<ion-radio checked={{GlutenFreBrocliChedar}} item-start
						(click)="changePizzaCrust('GlutenFreeBrocluChedar')"></ion-radio>
					<ion-label>
						<h2>Gluten Free Brocli & Chedar Crust</h2>
						<p>$4.00</p>
					</ion-label>
				</ion-item>
				<ion-item class="shadow">
					<ion-radio checked={{GlutenFreeCauluflowerCrust}} item-start
						(click)="changePizzaCrust('GlutenFreeCaluflower')"></ion-radio>
					<ion-label>
						<h2>Gluten Free Cauliflower Crust</h2>
						<p>$4.00</p>
					</ion-label>
				</ion-item>


			</ion-scroll>
			<div>
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="1002241234" checked="{{CheeseSelectedMainMenue}}"
							(click)="ChnageCheeseMenueSelected()" item-start></ion-radio>
						<ion-label>
							<h2>Cheese</h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" checked="{{MeatSelctedMaiNmenue}}" (click)="ChnageMeatFromMenue()"
							item-start></ion-radio>
						<ion-label>
							<h2>Meat </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100245235" checked="{{VegetablesSelectedMainMenue}}"
							(click)="ChnageVegetblesSelectedMainMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Vegetables </h2>
							<p>$7.99</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="10024523235" checked="{{SauceSelectedMainMenue}}"
							(click)="ChnageSauceMainMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Sauce </h2>
							<p>$7.99</p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>

			<div *ngIf="SauceMainMenueSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					
					<ion-item class="shadow" >
						<ion-radio value="10022434" checked="{{BBqSauce}}" (click)="SelectedBBqSauce()" item-start></ion-radio>
						<ion-label>
							<h2>BBQ Sauce </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="1002234"  checked="{{DonairSauceTopp}}" (click)="SelectedDonairSauce()" item-start></ion-radio>
						<ion-label>
							<h2>Donair Sauce </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{PiizaSaue}}"  (click)="SelectedPizzaSauce()" item-start></ion-radio>
						<ion-label>
							<h2>Pizza Sauce </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>


				</ion-scroll>
			</div>

		

			<div *ngIf="VegemainMenue">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022434" checked="{{Mushrooms}}" (click)="SelectedMushroomsFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Mushrooms </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="1002234" checked="{{RedOnion}}" (click)="SelectedRedOnionFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Red Onion </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{GreenPepper}}" (click)="SelectedGreenPepperFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Green Pepper </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{Tomatoes}}" (click)="SelectedTomatoesFrommenue()" item-start></ion-radio>
						<ion-label>
							<h2>Tomatoes </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{olives}}" (click)="SelectedOlivesFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Olives </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{HotPeper}}" (click)="SelectedHotpeperFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Hot Pepper </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{Jalapeno}}" (click)="SelectedJalapenoFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Jalapeno</h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{PineApple}}" (click)="SelectedPineAppleFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Pineapple</h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>

			<div *ngIf="MeatmenueSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022434" checked="{{HamSelected}}" (click)="SelectHamFromMenue()"
							item-start></ion-radio>
						<ion-label>
							<h2>Ham </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="1002234" checked="{{SalamiSelectedTopp}}" (click)=" SelectedSalammiFromMenye()"
							item-start></ion-radio>
						<ion-label>
							<h2>Salami </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{CrumbkedbeaconSelected}}" (click)="
							SelectedCrumbledBeaconFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Crumbled Bacon </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{SlicedBeacoNSelected}}" (click)="
							SelectedSlicedBeaconFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Sliced Bacon </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{peporoniSelcted}}" (click)="
							SelectePeporoniSelectedFromMenuye()" item-start></ion-radio>
						<ion-label>
							<h2>Pepperoni </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{ItalianSasugeSelcted}}" (click)="
							SelecctedItalianSausgeSelctedFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Italian Sausage </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{groundBeefSelcted}}" (click)="
							SelectedGroudnBeefFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Ground Beef</h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{SeasonSchickeSelcted}}" (click)="
							SelecedSeaonedChickneFromMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Seasoned Chicken </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" checked="{{ChorizoSauseSelctec}}" (click)="
							SelectedChorizoFrommainMenue()" item-start></ion-radio>
						<ion-label>
							<h2>Chorizo Sausage </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
	

		


			<div *ngIf="SelectedHam">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole Ham </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="SalamiSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole Salami </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="CrumbledBeaconSeletced">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole Crum </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="SlicedBeaconSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole SlicedBeaconSelected </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="PeporoniSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole PeporoniSelected </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="ItalianSausgeSelcted">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole ItalianSausgeSelcted </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="GroundBeefSeletec">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole GroundBeefSeletec </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="SeasooedChikenSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole SeasooedChikenSelected </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="Chorizo">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole Chorizo </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>


			<div *ngIf="BBQSauce">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole BBQSauce </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>

			<div *ngIf="DonairSauce">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole DonairSauce </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>


			<div *ngIf="PizzaSauce">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole PizzaSauce </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>




			<div *ngIf="MushroomSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole MushroomSelected </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>

			<div *ngIf="RedOnionSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole RedOnionSelected </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="GreenPeppersSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole GreenPeppersSelected </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="TomatoesSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole TomatoesSelected </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="OlivesSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole OlivesSelected </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="HotPpersSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole HotPpersSelected </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="JapoenoSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole JapoenoSelected </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="PineappleSelcted">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole PineappleSelcted </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>











			<div *ngIf="CheeseMenueSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">

					<ion-item class="shadow">
						<ion-radio value="2000" checked="{{MozzeralSelected}}" item-start
							(click)="chnageToppingMoz()"></ion-radio>
						<ion-label>
							<h2>Mozzarella Cheese</h2>
							<p></p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="2001" checked="{{GoatCheseSeletec}}" item-start
							(click)="CnageGotCheeseFromMenue()"></ion-radio>
						<ion-label>
							<h2>Goat Cheese</h2>
							<p>$7.99</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="200221" checked="{{FetaCheeseSelected}}" item-start
							(click)="ChangeSelectFetaToppings()"></ion-radio>
						<ion-label>
							<h2>Feta Cheese</h2>
							<p>$7.99</p>
						</ion-label>
					</ion-item>



				</ion-scroll>
			</div>
			<div *ngIf="showScrollFeta">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022434" item-start></ion-radio>
						<ion-label>
							<h2>None </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="1002234" item-start></ion-radio>
						<ion-label>
							<h2>Whole </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="1002235" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="1002235" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p>$3.00</p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>
			<div *ngIf="GoatCHeeseSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022234" item-start></ion-radio>
						<ion-label>
							<h2>None </h2>
							<p></p>
						</ion-label>
					</ion-item>



					<ion-item class="shadow">
						<ion-radio value="200" (click)="ChnagePreferdGoatCheese('30')" item-start></ion-radio>
						<ion-label>
							<h2>30% Extra Cheese </h2>
							<p>{{thriotyCheesePrice}}</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="300" (click)="ChnagePreferdGoatCheese('50')" item-start></ion-radio>
						<ion-label>
							<h2>50% Extra Cheese</h2>
							<p>{{fiftyCheesePricve}}</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="400" (click)="ChnagePreferdGoatCheese('double')" item-start></ion-radio>
						<ion-label>
							<h2>Double Cheese</h2>
							<p>{{DoubleCheesePrice}}</p>
						</ion-label>
					</ion-item>
				</ion-scroll>
			</div>
			<div *ngIf="SelectedPreferedGoatCheesePriceBool">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole s</h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>

			<div *ngIf="MozzerlaCheeseSelected">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022234" item-start></ion-radio>
						<ion-label>
							<h2>None </h2>
							<p></p>
						</ion-label>
					</ion-item>



					<ion-item class="shadow">
						<ion-radio value="200" (click)="chnagePrefedCheese('30')" item-start></ion-radio>
						<ion-label>
							<h2>30% Extra Cheese </h2>
							<p>{{thriotyCheesePrice}}</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="300" (click)="chnagePrefedCheese('50')" item-start></ion-radio>
						<ion-label>
							<h2>50% Extra Cheese</h2>
							<p>{{fiftyCheesePricve}}</p>
						</ion-label>
					</ion-item>
					<ion-item class="shadow">
						<ion-radio value="400" (click)="chnagePrefedCheese('double')" item-start></ion-radio>
						<ion-label>
							<h2>Double Cheese</h2>
							<p>{{DoubleCheesePrice}}</p>
						</ion-label>
					</ion-item>
				</ion-scroll>
			</div>
			<div *ngIf="SelectedPreferedMozCheesePriceBool">
				<ion-scroll scrollX="true" no-lines radio-group *ngSwitchCase="'select_topins'">
					<ion-item class="shadow">
						<ion-radio value="10022422334" (click)="chnageCheeseSelectedSide('Whole')"
							item-start></ion-radio>
						<ion-label>
							<h2>Whole </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="100342234" (click)="chnageCheeseSelectedSide('Left')" item-start></ion-radio>
						<ion-label>
							<h2>Left </h2>
							<p></p>
						</ion-label>
					</ion-item>

					<ion-item class="shadow">
						<ion-radio value="102402235" (click)="chnageCheeseSelectedSide('Right')" item-start></ion-radio>
						<ion-label>
							<h2>Right </h2>
							<p></p>
						</ion-label>
					</ion-item>

				</ion-scroll>
			</div>


			<button ion-button block class="btn" (click)="verification()">{{'Add To Cart' | translate}}
				<ion-icon class="zmdi zmdi-arrow-right" text-end></ion-icon>
			</button>
		</div>
	</div>
</ion-content>
<ion-footer no-border>
	<button ion-button full no-margin class="btn" (click)="cart()">
		<ion-icon text-start class="zmdi zmdi-shopping-basket"></ion-icon>
		1 {{'item' | translate}} &nbsp; | &nbsp; $5.99
		<strong>
			{{'view_cart' | translate}}
			<ion-icon text-end class="zmdi zmdi-arrow-right"></ion-icon>
		</strong>
	</button>
</ion-footer>